* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-decoration: none;
    list-style-type: none;

}

.container {
    display: flex;

}
.col {
    flex: 1;
    margin: auto;
    display: flex;
}

.logo {
    width: 30%;
}

.headerLink {
    color: black;
    padding: 1%;
    font-size: 150%;
    align-items: center;

}

li {
    padding: 1%;
}

.headerLink:hover {
    text-decoration: underline;
}

.headerUnderline {
    border-bottom: solid black 2px;
}

header {
    margin-left: 1%;
    margin-right: 1%;
}

.social {
    text-align: right;
    /* padding: 1%; */
    /* margin: auto; */
    justify-content: end;
}

.test {
    padding: 10px;
    height: 54px;

}
.facebook {
    max-width: auto;
    max-height: 54PX;
}

.button {
    background-color: rgb(21, 78, 131);
    padding: 10px;
    border: solid black 3px;
    border-radius: 7px;
    font-size: 150%;
    color: white;
}